<div class="container">
    <div class="row">
        <div class="col">
            prenom
        </div>
        <div class="col">
            nom
        </div>
    </div>
    <div class="row">
        <div class="col">
            <xunk-calendar (click)="updateCurrentDate()" [selectedDate]="selDate"></xunk-calendar>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let slot of timeSlots">
            <app-timeslot [timeSlot]="slot"></app-timeslot>
        </div>
    </div>
</div>